body{
    background-color: #EEF9BF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 56px;
    color: #75B79E;
    margin: 40px 0px 40px 0px
}

img{
    width: 100px;
}

.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    height: 352px;
    width: 1029px;
}

.card{
    width: 117px;
    height: 146px;
    position: relative;
    margin: 15px;

    box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0.2);

}

.face{
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 5px;
    border: 1px solid #75B79E;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all 0.5s;
}

.back-face{
    transform: rotateY(180deg);
}

.front{
    transform: rotateY(-180deg);
}

.back{
    transform: rotateY(0deg);
}

.clock{
    width: 100px;
    height: 90px;
    background-color: #37352F;
    position: fixed;
    top: 10px;
    right: 0;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: #a7dbc7;

    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}